html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

.container{
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  min-width: 400px;
  max-width: 1180px;
}

body{
  font-family: 'Inconsolata', monospace;
}

.titulo-web{
 font-family: 'Pacifico', cursive;
 font-size: 50px;
 color: #FFB3B3;
 display:flex;
 justify-content: center;
}

nav{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  display:flex;
  justify-items: center;
  justify-content: space-evenly;
  height: 50px;
  position:relative;
  z-index:2;
  
}

ul li {
  float:left;
  width: 100px;
  text-align: center;
}

ul li a{
  display:block;
  color: black;
  
}

ul li a:hover{
  background-color:#FFB3B3;
}


ul li ul li{
  display: none;
}

ul li:hover ul li{
  display: block;
  background-color: white;
}

.primera-seccion{
  display: flex;
  justify-content: space-between;
  
}

.div-primera-seccion{
  display: flex;
  justify-content: space-between;
  width:100%;
  position:relative;
  z-index:1;
}

.img-primera-seccion{
  width: 100%;
 }

 .img-primera-seccion:hover + .banner-imagen{
  transform: translateY(-100px);
 }

.div-imagenes-recetas{
  width: 24%; 
}

.banner-imagen{
  background-color: rgba(255,153,102,0.5);
  width: 100%;
  height: 100px;
  color: white;
  transition: transform 2s  ease-out 0ms;
}

.div-recetas{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}
.segunda-seccion{
  height: 300px;
}

.div-imagen{
  width: 32%;
  border-radius: 60px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin: 20px 0;
}
.platos{
  background-image:url(images/platos.jpeg);
}

.recetas{
  background-image:url(images/recetas.JPG);
}

.exoticos{
  background-image:url(images/exoticos.JPG);
}

.platos a:hover, .recetas a:hover, .exoticos a:hover{
  background-color: #FFB3B3;

}

.botones {
  background-color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: black;
  font-weight: bold;
  justify-items: center;
  border-radius: 15px;
  width: 180px;
  height: 35px;
  line-height: 35px;
  text-align: center; 
}
.div-video-perfil{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.submenu-platos {
  display: inline-block;
  align-items: center;
  vertical-align:top;
  color: black;
  margin-top: 15px;
}

.menu{
  color: black;
}


.tercera-seccion{
  padding-bottom: 50px;
}


.imagen-chica {
border-radius: 200px;
width: 200px;
height: 200px;
display: flex;
margin: 100px 75px 75px 50px;
margin-top: 15px;
margin-bottom: 15px;
}

.sobremi-newslater {
  background-color: #FFB3B3;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.elena {
  font-weight: bold;
  text-align: center;
}

.texto-elena {
  color: grey;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.video{
  width: 72%;
  height: 400px;
}

.perfil{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.pie-video{
  width: 885px;
  font-size: 15px;
  color: grey;
  display: flex;
  margin: 0 0 0 0px;
}

.call-pie-video{
border-left: grey;
border-left-style: solid;
border-left-width: 2px;
margin-left: 10px;
padding-left: 10px;
}

.video-video{
  width: 100%;
 height: 100%;
}


.ultima-receta{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  color: grey;   
}

.by-maria {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  min-width: 320px;
  padding-top: 20px;
  border-top: gray;
  border-top-width: 1px;
  border-top-style: solid;
}
.dulces{
  padding-bottom: 20px;
}
.div-imagen-ultima-receta{
  width: 47%;
}
.imagen-ultima-receta{
  border-radius: 60px;
  width: 100%;
}

.receta{
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.info-receta{
display:flex;
justify-content: space-between;
align-items: initial;
}
.fecha{
  border-left: grey;
  border-left-style: solid;
  border-left-width: 2px;
  margin-left: 10px;
  padding-left: 10px;
  color: grey;
}
.delicias{
  height: 60%;
}
.delicias h1{
  font-size:25px;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
}

button{
  background-color: #FFB3B3;
  width: 100px;
  height: 30px;
  font-size: 12px;
  margin-top: 22px;
  border: none;
  border-radius: 5px;
  color: black;
}

i{
  color:grey;
}

.footer{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: grey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  
}
.social{
  font-family: 'Muli', sans-serif;
  color:grey;
  padding: 2px;
}

@media (min-width: 320px) and (max-width: 480px){
  .titulo-web{
    font-size: 200%;
  }
  .primera-seccion{
    display: block;
  }
  .uno{
    display:block;
    align-content: center;
    width: 100%;
    height:100%;
    margin: 0 8 0 8px;
  }
  .dos, .tres, .cuatro {
   display:none;
  }
  .segunda-seccion{
   height:100%;
   align-content: center;
  }  
  .video{
  display: none;
  }
  .perfil{
  width: 320px;
  display: flex;
  flex-direction: column;
  }
  .div-imagen-ultima-receta{
  display:none;
  }
  .dulces{
  min-width: 320px;
  }
  .receta{
  width: 100%;
  }
  .saladas{
  display: none;
  }
  .footer{
  min-width: 320px;
  }
  .social{
  display: none;
  }
}