html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  list-style: none;
}

.container{
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  min-width: 400px;
  max-width: 1180px;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: row;

}

.titulo-web{
 font-family: 'Pacifico', cursive;
 font-size: 50px;
 color: orange;
 display:flex;
 justify-content: center;
}

nav, ul{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: palevioletred;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li{
  margin-left: 10px;
}

.primera-seccion{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

.div-primera-seccion{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  width:100%;
}

.img-primera-seccion{
  width: 100%;
 }

.div-imagenes-recetas{
  width: 342px; 
}

.banner-imagen{
  background-color: rgba(255, 166, 0, 0.4);
  width: 100%;
  height: 100px;
  color: white;
}

.div-recetas{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  width:100%;
  height: 300px;
}
.segunda-seccion{
  height: 300px;
}

.div-imagen{
  width: 32%;
  border-radius: 60px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.platos{
  background-image:url(images/platos.jpeg);
}
.recetas{
  background-image:url(images/recetas.JPG);
}
.exoticos{
  background-image:url(images/exoticos.JPG);
}

.botones {
  background-color: white;
  font-family: 'century gothic';
  justify-items: center;
  border-radius: 15px;
  width: 180px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  text-align: center; 
}
.div-video-perfil{
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  width:100%;
  height: 400px;
}

.display-menuplatos {
  display: inline-block;
  align-items: center;
  vertical-align:top;
  color: black;
  margin-top: 15px;
}

.menu{
  color: black;
}


.tercera-seccion{
  height: 455px;
}


.imagen-chica {
border-radius: 200px;
width: 200px;
height: 200px;
display: flex;
margin: 100px 75px 75px 50px;
margin-top: 15px;
margin-bottom: 15px;
}

.sobremi-newslater {
  background-color: pink;
  text-align: center;
  font-family: 'century gothic';
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.natalia {
  font-weight: bold;
  text-align: center;
  font-family: 'century gothic';
}

.texto-nati {
  color: grey;
  text-align: center;
  font-family: 'century gothic';
  margin-top: 15px;
  margin-bottom: 40px;
}

.video{
  width: 72%;
  height: 400px;
}

.perfil{
  width: 25%;
  height: 400px;
}
.pie-video{
  width: 340px;
  font-size: 15px;
  height: 58px;
  line-height: 20px;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: row;
  color: grey;
}

.video-video{
  width: 100%;
 height: 100%;
}


.by-maria {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: gray;
  border-top-width: 10px;

}

.ultima-receta{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 885px;
  
}
.div-imagen-ultima-receta{
  width: 55%;
}
.imagen-ultima-receta{
  border-radius: 60px;
  width: 100%;
}

footer{
  width: 1180px;
}

.footer{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 1180px;
}